# Connect and Show database

In [1]:
from pymongo import MongoClient
democlient = MongoClient()
myclient = MongoClient('localhost',27017)
print(myclient.list_database_names())

['admin', 'config', 'demo', 'local']

# Creating DB, Collections and adding data

In [2]:
from pymongo import MongoClient
democlient = MongoClient()
myclient = MongoClient("localhost",27017)
mydb = myclient["demo"]     # DB name
mycoll = mydb["dbtable"]    # Collection name
mylist = [
  { "id": 1, "name": "John", "address": "Highway 37"},
  { "id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "id": 3, "name": "Amy", "address": "Apple st 652"},
  { "id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "id": 5, "name": "Michael", "address": "Valley 345"},
  { "id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "id": 8, "name": "Richard", "address": "Sky st 331"},
  { "id": 9, "name": "Susan", "address": "One way 98"},
  { "id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "id": 12, "name": "William", "address": "Central st 954"},
  { "id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "id": 14, "name": "Viola", "address": "Sideway 1633"}
]
x = mycoll.insert_many(mylist)
dblist = myclient.list_database_names()
if "demo" in dblist:
    print("The database exist.")
else:
    print("Not present")
print(dblist)

The database exist.
['admin', 'config', 'demo', 'local']

# Find Data from MongoDB

In [3]:
from pymongo import MongoClient
democlient = MongoClient()
mydb = myclient["demo"]
mycoll = mydb["dbtable"]
x = mycoll.find_one()
print(x)
for item in mycoll.find():
    print(item)

{'_id': ObjectId('6527a65c4524af8846733187'), 'id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6527a65c4524af8846733187'), 'id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6527a65c4524af8846733188'), 'id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6527a65c4524af8846733189'), 'id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6527a65c4524af884673318a'), 'id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6527a65c4524af884673318b'), 'id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6527a65c4524af884673318c'), 'id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6527a65c4524af884673318d'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6527a65c4524af884673318e'), 'id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6527a65c4524af884673318f'), 'id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6527a65c4524af8846733190'), 'id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6527a65c4524af8846733191'), 'id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6527a65c4524af8846733192'), 'id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6527a65c4524af8846733193'), 'id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6527a65c4524af8846733194'), 'id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6527ab1b4524af8846733197'), 'id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6527ab1b4524af8846733198'), 'id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6527ab1b4524af8846733199'), 'id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6527ab1b4524af884673319a'), 'id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6527ab1b4524af884673319b'), 'id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6527ab1b4524af884673319c'), 'id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6527ab1b4524af884673319d'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6527ab1b4524af884673319e'), 'id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6527ab1b4524af884673319f'), 'id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6527ab1b4524af88467331a0'), 'id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6527ab1b4524af88467331a1'), 'id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6527ab1b4524af88467331a2'), 'id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6527ab1b4524af88467331a3'), 'id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6527ab1b4524af88467331a4'), 'id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6527ac224524af88467331a9'), 'id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6527ac224524af88467331aa'), 'id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6527ac224524af88467331ab'), 'id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6527ac224524af88467331ac'), 'id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6527ac224524af88467331ad'), 'id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6527ac224524af88467331ae'), 'id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6527ac224524af88467331af'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6527ac224524af88467331b0'), 'id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6527ac224524af88467331b1'), 'id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6527ac224524af88467331b2'), 'id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6527ac224524af88467331b3'), 'id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6527ac224524af88467331b4'), 'id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6527ac224524af88467331b5'), 'id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6527ac224524af88467331b6'), 'id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6527ac4a4524af88467331b9'), 'id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6527ac4a4524af88467331ba'), 'id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6527ac4a4524af88467331bb'), 'id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6527ac4a4524af88467331bc'), 'id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6527ac4a4524af88467331bd'), 'id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6527ac4a4524af88467331be'), 'id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6527ac4a4524af88467331bf'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6527ac4a4524af88467331c0'), 'id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6527ac4a4524af88467331c1'), 'id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6527ac4a4524af88467331c2'), 'id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6527ac4a4524af88467331c3'), 'id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6527ac4a4524af88467331c4'), 'id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6527ac4a4524af88467331c5'), 'id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6527ac4a4524af88467331c6'), 'id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6527ac584524af88467331c9'), 'id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6527ac584524af88467331ca'), 'id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6527ac584524af88467331cb'), 'id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6527ac584524af88467331cc'), 'id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6527ac584524af88467331cd'), 'id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6527ac584524af88467331ce'), 'id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6527ac584524af88467331cf'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6527ac584524af88467331d0'), 'id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6527ac584524af88467331d1'), 'id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6527ac584524af88467331d2'), 'id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6527ac584524af88467331d3'), 'id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6527ac584524af88467331d4'), 'id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6527ac584524af88467331d5'), 'id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6527ac584524af88467331d6'), 'id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6527ca606cf1f3abd60c619f'), 'id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6527ca606cf1f3abd60c61a0'), 'id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6527ca606cf1f3abd60c61a1'), 'id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6527ca606cf1f3abd60c61a2'), 'id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6527ca606cf1f3abd60c61a3'), 'id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6527ca606cf1f3abd60c61a4'), 'id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6527ca606cf1f3abd60c61a5'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6527ca606cf1f3abd60c61a6'), 'id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6527ca606cf1f3abd60c61a7'), 'id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6527ca606cf1f3abd60c61a8'), 'id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6527ca606cf1f3abd60c61a9'), 'id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6527ca606cf1f3abd60c61aa'), 'id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6527ca606cf1f3abd60c61ab'), 'id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6527ca606cf1f3abd60c61ac'), 'id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

# Finding Data

In [4]:
from pymongo import MongoClient
democlient = MongoClient()
myclient = MongoClient("localhost",27017)
mydb = myclient["demo"]
mycoll = mydb["dbtable"]
# query = {"name":"John"}
myquery = {"name":{"$regex":"^B"}}
mydoc = mycoll.find(myquery)
for item in mydoc:
    print(item)

{'_id': ObjectId('6527a65c4524af884673318d'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6527a65c4524af8846733191'), 'id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6527ab1b4524af884673319d'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6527ab1b4524af88467331a1'), 'id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6527ac224524af88467331af'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6527ac224524af88467331b3'), 'id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6527ac4a4524af88467331bf'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6527ac4a4524af88467331c3'), 'id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6527ac584524af88467331cf'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6527ac584524af88467331d3'), 'id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6527ca606cf1f3abd60c61a5'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6527ca606cf1f3abd60c61a9'), 'id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

# Data sorting

In [10]:
from pymongo import MongoClient
democlient = MongoClient()
myclient = MongoClient("localhost",27017)
mydb = myclient["demo"]
mycoll = mydb["dbtable"]
mydoc = mycoll.find().sort("_id",1)
# mydoc = mycoll.find().sort("name",-1)
for item in mydoc:
    print(item)

{'_id': ObjectId('6527a65c4524af8846733187'), 'id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6527a65c4524af8846733188'), 'id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6527a65c4524af8846733189'), 'id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6527a65c4524af884673318a'), 'id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6527a65c4524af884673318b'), 'id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6527a65c4524af884673318c'), 'id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6527a65c4524af884673318d'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6527a65c4524af884673318e'), 'id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6527a65c4524af884673318f'), 'id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6527a65c4524af8846733190'), 'id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6527a65c4524af8846733191'), 'id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6527a65c4524af8846733192'), 'id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6527a65c4524af8846733193'), 'id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6527a65c4524af8846733194'), 'id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6527ab1b4524af8846733197'), 'id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6527ab1b4524af8846733198'), 'id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6527ab1b4524af8846733199'), 'id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6527ab1b4524af884673319a'), 'id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6527ab1b4524af884673319b'), 'id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6527ab1b4524af884673319c'), 'id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6527ab1b4524af884673319d'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6527ab1b4524af884673319e'), 'id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6527ab1b4524af884673319f'), 'id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6527ab1b4524af88467331a0'), 'id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6527ab1b4524af88467331a1'), 'id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6527ab1b4524af88467331a2'), 'id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6527ab1b4524af88467331a3'), 'id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6527ab1b4524af88467331a4'), 'id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6527ac224524af88467331a9'), 'id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6527ac224524af88467331aa'), 'id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6527ac224524af88467331ab'), 'id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6527ac224524af88467331ac'), 'id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6527ac224524af88467331ad'), 'id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6527ac224524af88467331ae'), 'id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6527ac224524af88467331af'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6527ac224524af88467331b0'), 'id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6527ac224524af88467331b1'), 'id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6527ac224524af88467331b2'), 'id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6527ac224524af88467331b3'), 'id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6527ac224524af88467331b4'), 'id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6527ac224524af88467331b5'), 'id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6527ac224524af88467331b6'), 'id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6527ac4a4524af88467331b9'), 'id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6527ac4a4524af88467331ba'), 'id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6527ac4a4524af88467331bb'), 'id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6527ac4a4524af88467331bc'), 'id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6527ac4a4524af88467331bd'), 'id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6527ac4a4524af88467331be'), 'id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6527ac4a4524af88467331bf'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6527ac4a4524af88467331c0'), 'id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6527ac4a4524af88467331c1'), 'id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6527ac4a4524af88467331c2'), 'id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6527ac4a4524af88467331c3'), 'id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6527ac4a4524af88467331c4'), 'id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6527ac4a4524af88467331c5'), 'id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6527ac4a4524af88467331c6'), 'id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6527ac584524af88467331c9'), 'id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6527ac584524af88467331ca'), 'id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6527ac584524af88467331cb'), 'id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6527ac584524af88467331cc'), 'id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6527ac584524af88467331cd'), 'id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6527ac584524af88467331ce'), 'id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6527ac584524af88467331cf'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6527ac584524af88467331d0'), 'id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6527ac584524af88467331d1'), 'id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6527ac584524af88467331d2'), 'id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6527ac584524af88467331d3'), 'id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6527ac584524af88467331d4'), 'id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6527ac584524af88467331d5'), 'id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6527ac584524af88467331d6'), 'id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('6527ca606cf1f3abd60c619f'), 'id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('6527ca606cf1f3abd60c61a0'), 'id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('6527ca606cf1f3abd60c61a1'), 'id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('6527ca606cf1f3abd60c61a2'), 'id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('6527ca606cf1f3abd60c61a3'), 'id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('6527ca606cf1f3abd60c61a4'), 'id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('6527ca606cf1f3abd60c61a5'), 'id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('6527ca606cf1f3abd60c61a6'), 'id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('6527ca606cf1f3abd60c61a7'), 'id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('6527ca606cf1f3abd60c61a8'), 'id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('6527ca606cf1f3abd60c61a9'), 'id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('6527ca606cf1f3abd60c61aa'), 'id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('6527ca606cf1f3abd60c61ab'), 'id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('6527ca606cf1f3abd60c61ac'), 'id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}